@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Roboto-Thin.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Roboto-Medium.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Roboto-Bold.woff2) format('woff2');
  }
}

/* Swiper */

.swiper-pagination {
  display: flex;
  justify-content: end;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: black;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  background-color: #FF4641;
}

/* Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #FF4641;
}